# Ignore the "build" folder
scripts/__pycache__

# Ignore specific files
#config.ini
#*.log

.DS_Store
scripts/.DS_Store


# Ignore all files with a certain extension
*.h5

trained_models/
fivefold_scoringmerticscan_values/