scripts/__pycache__
stuff/__pycache__

.DS_Store
scripts/.DS_Store

# Ignore all files with a certain extension
*.h5

trained_models/
results/
injected_signal_notebooks/
__pycache__
CNNS/
